.demo-container {
    float: left;
}

#data-grid-demo {
  max-width: 70%;
  min-height: 700px;
  margin-left: 10%;
  float: right;
}

#gridDeleteSelected {
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 1px;
  top: 0;
}

#gridDeleteSelected .dx-button-text {
  line-height: 0;
}

#page-name {
    position: relative;
    font-size: 25px;
    top: 20px;
    z-index: 9999;
}
